body{
  background-color: rgb(90, 143, 125);
}

nav{
  background-color: rgb(47, 75, 65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

h1{
  background-color: brown;
  color: white;
  font-size: 45px;
  padding-left: 50px;
}

ul li{
  display: inline-block;
  padding: 0px 50px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
 color: aqua;
}